<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tortoise01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{145,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>tortoise02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{147,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>tortoise03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{145,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,124}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>tortoise04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{145,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{145,124}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tortoise.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6916cc659c7b989269345307028a5c44$</string>
            <key>textureFileName</key>
            <string>tortoise.png</string>
        </dict>
    </dict>
</plist>
